{% extends 'blog/main.html' %}
{% block main_section %}
{% load crispy_forms_tags %}


<div class="form-section">
    <h2>User page </h2>

    <div class="media text-muted pt-3">
      <div class="media text-muted pt-3">
      <img class="bd-placeholder-img mr-2 rounded" style="width: 64px; height: 64px;" src="{{ user.profile.img.url}}"><title>Placeholder</title></img>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
      <b>Email: </b> {{ user.email }}
      </p>
    </div>
    </div>
   <h3 class="mt-4"> Change User Data</h3>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ update_user|crispy }}
        {{ img_profile|crispy }}
        <button type="submit" class="btn btn-outline-warning">Update</button>
    </form>
    <hr>
    Already registered? <a href="{% url 'user' %}">Log in</a>
</div>
{% endblock main_section %}

{% block aside_news_section %}
    <h3><b>Interesting articles</b></h3>
                <img src="https://cdn.tutsplus.com/net/uploads/2013/08/github-collab-retina-preview.gif" class="img-thumbnail mb-1">
                <p>Be sure to have your pages set up with the latest design and development standards.</p>
                <a href="" target="_blank">
                    <button class="btn btn-warning"> Open </button>
                </a>
{% endblock aside_news_section %}